body {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

p, ul, ol {
    font-size: 13px;
}

div.content {
	max-width: 1000px;
}

.no-wrapper::-webkit-color-swatch-wrapper {
    padding: 0;
}
