body {
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

p, ul, ol {
    font-size: 13px;
}

div.content {
	/* If opening the hood causes the content to go from position:static to position:fixed,
	   it loses the scroll position. So just always use fixed. */
	position:fixed;
	overflow:auto;
	padding:10px;
	left:0;
	top:0;
	bottom:0;
	right:0;
}

.hood-open div.content {
	right:150px;
}

div.under-the-hood {
	display:none;
	position:fixed;
	overflow:auto;
	width:150px;
	top:0;
	bottom:0;
	right:0;	
	font: 11px Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.hood-open div.under-the-hood {
	display:block;
}

.no-wrapper::-webkit-color-swatch-wrapper {
    padding: 0;
}
